/* Navigation */

.nav-link:hover,
.navbar-brand:hover{
    color: #000;
    background-color: #cc9a06;
}

.bg-yellow-500 {
    color: #000;
    background-color: #ffc107;
}

footer, nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

