/* Navigation */

.nav-link:hover,
.navbar-brand:hover{
    color: #000;
    background-color: #cc9a06;
}

.bg-yellow-500 {
    color: #000;
    background-color: #ffc107;
}

#backToTopBtn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
}

#backToTopBtn:hover {
    background-color: #f2f2f2;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.section-margin {
    margin-left: 100px;
    margin-right: 100px;
}

.autocomplete-suggestions {
    position: absolute;
    top: 100%; /* Positions the dropdown below the input */
    left: 0;
    right: 0;
    z-index: 1050; /* Ensures the dropdown appears above other elements */
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete-suggestions li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestions li:hover {
    background-color: #f0f0f0;
}

footer, nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

main {
    margin-top: 50px;
}

